# Ignore everything by default
*

# Always keep gitignore
!.gitignore

# Keep Python version (pyenv)
!.python-version

# Keep core scripts
!configurator_copy.py
!model_copy.py
!sample_copy.py
!train_copy.py
!requirements.txt

# Keep data preprocessing
!data/
!data/prepare_eos.py
