# Ignore everything by default
*

# Always keep gitignore
!.gitignore

# Keep Python version (pyenv)
!.python-version

# Keep core scripts
!README.md
!configurator.py
!model.py
!sample.py
!train.py
!chat.py
!requirements.txt

# Keep data preprocessing
!data/
!data/prepare_eos.py
!saved_model/
!inspect_ckpt.py
